tqdm
imageio
cython
matplotlib
imgaug
IPython[all]
scikit-learn
imbalanced-learn
imblearn
git+https://github.com/plumonito/imgaug@0f9d2a1e543045d56bb806216ce503015471c04f
importlib-metadata
joblib
jsonschema
numpy
opencv-python
pandas
Pillow
scikit-image
scipy
scikit-video
tensorflow==2.18.0
